* {
    padding: 0;
    margin: 0;
    border: none;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
    color:black;
}

@font-face {
    font-family: 'Gilroy';
    src: url('Caminho/Gilroy.ttf') format('ttf');         
}

:root{
    --color-neutral--black: #0000;
    --color-neutral-grey: #999999;
    --color-neutral-white: #FFFFFF;
    --color-bg-overlay: #FAFAFA;
    --color-primary: #00A000;

    --font: 'Gilroy', 'sans-serif';
    --font-headline-1-size: 60px;
    --font-headline-1-weight: bold;

    --font-headline-1-size: 60px;
    --font-headline-1-weight: bold;
}

/* Instalar fonte no figma */
/* 
 
- Google: Download Fonts


*/